# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# This gitignore file is used only internally for this repository,
# you should not use this in your own projects. Instead, navigate into
# an example folder and use the folder as the project root (it also contains a
# projects-specific .gitignore).

node_modules/
generated/
yarn-error.log/
vendor/
tmp/
dist/
.DS_Store
.idea
tmp-resolvers
package-lock.json
flow-typed
yarn.lock
bun.lock
pnpm-lock.yaml
orm/**/migrations/
misc/**/migrations/
databases/**/migrations/
orm/**/package-lock.json
misc/**/package-lock.json
experimental/**/package-lock.json
.output/

databases/**/package-lock.json
experimental/**/*.db
.next
.vscode/
.nuxt
dev.db
*.env*
!.env.example